<div class="container padded">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h1>Build your bill</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h4>Bill infos</h4>
      <%= simple_form_for @bill do |f| %>
        <%= f.input :name %>
        <%= f.input :date %>
        <%= f.input :number %>
        <%= f.input :working_days, as: :fake, label: "How many days did you work as a TA ?", placeholder: "e.g. 12" %>
        <%= f.input :daily_price, as: :fake, label: "What's your daily price (€) ?", placeholder: "e.g. 100" %>
        <div class="text-right">
          <%= f.submit 'create >', class: "btn btn-xs btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-10 col-xs-offset-1"></div>
  </div>
</div>
